<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SomerenDatabase" connectionString="Data Source=test1serverproject.database.windows.net;
			 Initial Catalog=test1database;User Id=testadmin; Password=Excellentproject03;"/>
	</connectionStrings>
</configuration>