<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SomerenDatabase" connectionString="Data Source=someren1project.database.windows.net;
			 Initial Catalog=Someren_Project;User Id=testadmin; Password=Excellentproject03;"/>
	</connectionStrings>
</configuration>
